## DATABASE
DATABASE_URL="postgres://postgres:Ch3w8acca66@localhost:5432/bane"
PROD_DATABASE_URL=''

## STR
STR_CONFIG='single'


## URLS
VITE_APP_URL="http://localhost:3000"

## AUTH
VITE_LOGIN="/login"
VITE_LOGOUT="/logout"

## ADMIN
VITE_ADMIN_DASH="/admin/dashboard"
VITE_ADMIN_ANNOUNCEMENTS="/admin/announcements"
VITE_ADMIN_USERS="/admin/users/dashboard"
VITE_ADMIN_USERS_DEALREQUEST="/admin/users/dashboard"
VITE_ADMIN_USERS_REVIEW="/admin/users/employeeReview"
VITE_ADMIN_USERS_SCHEDULE="/admin/users/schedule"
VITE_ADMIN_USERS_TIMEOFF="/admin/users/timeOffRequest"

## CLIENTS
VITE_CLIENTS_DASH="/clients/dashboard"

## PO
VITE_PO="/po/dashboard"

## PRODUCTS
VITE_PO="/products/dashboard"

## TICKETS
VITE_TICKETS="/tickets/dashboard"

## USER
VITE_USER_DASH="/user/dashboard"
VITE_USER_REVIEW="/user/employeeReview"
VITE_USER_SCHEDULE="/user/schedule"
VITE_USER_TIMEOFF="/user/timeOffRequest"

## USERS
VITE_DEV_EMAIL"skylerzanth@outlook.com"
VITE_DEV_USERNAME"Skyler Zanth"
VITE_DEV_PHONE"6138980992"

VITE_SESSION_SECRET=zRlTJ1kPm67gFHz3TwUYpkGoAEdADN2H